

<% if user_signed_in? %>
	<div><li><%= link_to 'LogOut', destroy_user_session_path , method: :delete%></li></div>
<% else %><br><br><br><br><br><br>
<div class="btn btn-primary"><%= link_to 'SignUp', new_user_registration_path %></div>

<% end %>